.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 2em 0;
  position: relative;
}

.editor,
.output {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  width: 4px;
  height: 90%;
  border: 2px dashed white;
  background-color: hsla(30, 2%, 35%, 0.5);
}

.headerText {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  user-select: none;
}

.inputSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 1.3rem;
}

.inputSection > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}

.colorPicker {
  cursor: pointer;
  width: 100%;
}

.size {
  width: 100%;
  border: 1px solid hsla(30, 2%, 35%, 0.5);
  padding: 2px 5px;
  font-size: 1rem;
  border-radius: 5px;
}

.borderRadius {
  width: 100%;
}

.saveBtn {
  margin-top: 30px;
  padding: 0.6em;
  border-radius: 0.6em;
  font-size: 1.35rem;
  background-color: hsl(32, 100%, 50%);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 0 20px hsl(0, 0%, 93%);
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    hsl(46, 76%, 53%) 0%,
    hsl(13, 78%, 65%) 51%,
    hsl(46, 76%, 53%) 100%
  );
}

.saveBtn:hover {
  background-position: right center;
}

.resultSection {
  height: 100%;
  display: grid;
  place-items: center;
}

.result {
  width: 150px;
  height: 150px;
  border-radius: 25%;
  background-color: orange;
}

.popUpContainer {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 75%, 0.3);
  display: grid;
  place-items: center;
  align-content: center;
  transition: all 300ms ease-out;
}

.popUp {
  padding: 1em;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0 0 10px hsl(0, 0%, 70%);
  display: grid;
  gap: 10px;
}

.popUp > h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

.popUpInputField {
  position: relative;
}

.popUpInputField > input {
  width: 100%;
  font-size: 1rem;
  padding-bottom: 5px;
}

.popUpInputField:focus-within::after {
  background-color: hsl(13, 78%, 65%);
  transform: scale(1);
}

.popUpInputField::before {
  content: "";
  background-color: hsl(0, 0%, 70%);
  transition: 300ms;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.popUpInputField::after {
  content: "";
  background-color: hsl(0, 0%, 70%);
  transition: all 400ms ease-out;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transform-origin: center;
}

.popUp > button {
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  text-transform: uppercase;
  transition: 500ms;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  color: white;
  background-image: linear-gradient(
    to right,
    hsl(46, 76%, 53%) 0%,
    hsl(13, 78%, 65%) 51%,
    hsl(46, 76%, 53%) 100%
  );
}

.popUp > button:hover {
  background-position: right center;
}
