.container {
  padding: 2em 0;
}

.headerText {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  user-select: none;
}

.gallerySection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 2em 3em;
}

.gallerySectionBox {
  border: 2px dashed var(--light-gray-clr);
  box-shadow: 0 0 20px hsl(0, 0%, 90%);
  width: 100%;
  height: 250px;
  border-radius: 0.75em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gallerySectionBox:hover .gallerySB_content_design {
  transform: scale(1.1, 1.1);
}

.gallerySB_content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.gallerySB_content_design {
  transition: all 300ms ease-out;
}

.gallerySB_name {
  background-color: hsl(0, 0%, 90%);
  text-align: center;
  width: 100%;
  padding: 6px 0;
  z-index: 1;
}

.gallerySB_content_designInfo {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2em;
  border-left: 2px dashed var(--light-gray-clr);
  border-bottom: 2px dashed var(--light-gray-clr);
  border-bottom-left-radius: 0.5rem;
  display: grid;
  place-items: center;
  z-index: 1;
}

.info_icon,
.edit_icon,
.delete_icon {
  cursor: pointer;
  transition: all 200ms ease-out !important;
}

.info_icon[name="close"] {
  border-bottom: 2px solid currentColor !important;
  border-radius: 0.25em;
}

.info_icon:hover,
.edit_icon:hover,
.delete_icon:hover {
  color: var(--light-red-clr) !important;
  border-bottom-color: var(--light-red-clr) !important;
}

.details {
  display: grid;
  padding: 0.5em;
}

.details > span {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.details > span > span:first-of-type {
  user-select: none;
}

.details > span > span:last-of-type {
  user-select: text;
}

.gallerySB_content_designInfo[data-details="closed"] > .details {
  display: none;
}

.gallerySB_content_designInfo[data-details="closed"]
  > .info_icon[name="close"] {
  display: none;
}

.gallerySB_content_designInfo[data-details="open"] > .info_icon[name="info"] {
  display: none;
}

.gallerySB_content_edit {
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2em;
  border-left: 2px dashed var(--light-gray-clr);
  border-top: 2px dashed var(--light-gray-clr);
  border-top-left-radius: 0.5rem;
  display: grid;
  place-items: center;
  z-index: 1;
}

.gallerySB_content_delete {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em;
  border-right: 2px dashed var(--light-gray-clr);
  border-bottom: 2px dashed var(--light-gray-clr);
  border-bottom-right-radius: 0.5rem;
  display: grid;
  place-items: center;
  z-index: 1;
}

.noDataSection {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1em;
  transform: translateY(50%);
  font-weight: bold;
}

.noData {
  width: 200px;
}
