.container {
  min-width: 250px;
  height: 100%;
  position: fixed;
  font-size: 1.2rem;
  background-color: white;
  display: grid;
  right: 0;
  transition-duration: 300ms;
  overflow: hidden;
  z-index: 1;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewX(-10deg) rotateZ(40deg);
  box-shadow: inset 0 0 0 20px hsl(39, 100%, 50%), inset 0 0 0 40px white,
    inset 0 0 0 60px hsla(108, 78%, 57%, 0.774), inset 0 0 0 80px white,
    inset 0 0 0 100px hsl(39, 100%, 50%);
  z-index: -1;
}

.container[data-toggle="closed"]::before {
  transform: rotateZ(40deg);
}

.tabs {
  margin: auto 0;
  padding: 1em 0;
  height: fit-content;
  display: grid;
  justify-content: center;
  place-items: center;
  align-content: center;
  background-color: white;
  gap: 10px;
}

.container[data-toggle="closed"] > .tabs {
  display: none;
}

.tabs > a {
  border-radius: 0.5em;
  padding: 0.5em;
  color: white;
  letter-spacing: 0.5px;
  box-shadow: 0 0 20px hsl(0, 0%, 93%);
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    var(--light-yellow-clr) 0%,
    var(--light-red-clr) 51%,
    var(--light-yellow-clr) 100%
  );
}

.tabs > a:hover {
  background-position: right center;
}

.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2.5rem !important;
  color: var(--light-gray-clr) !important;
  border: 2px solid var(--light-gray-clr) !important;
  cursor: pointer;
  border-radius: 0.25em !important;
  transition: all 250ms ease-out, color 150ms ease-out !important;
}

.container[data-toggle="closed"] > .icon {
  transform: rotateZ(180deg);
}

.icon:hover {
  color: var(--light-red-clr) !important;
}

.border {
  position: absolute;
  border-right: 2px solid var(--df-border-clr);
  height: 100%;
  left: 0;
  top: 0;
  cursor: ew-resize;
}

@media (max-width: 500px) {
  .container[data-toggle="closed"] {
    height: 60px;
    border-bottom: 2px solid var(--df-border-clr);
    border-left: 2px solid var(--df-border-clr);
    border-bottom-left-radius: 0.75em;
  }

  .container[data-toggle="closed"]::before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewX(-10deg) rotateZ(40deg);
    box-shadow: inset 0 0 0 20px hsl(39, 100%, 50%), inset 0 0 0 40px white,
      inset 0 0 0 60px hsla(108, 78%, 57%, 0.774), inset 0 0 0 80px white,
      inset 0 0 0 100px hsl(39, 100%, 50%);
    z-index: -1;
  }

  .container[data-toggle="closed"] .border {
    display: none;
  }
}
